* {
  box-sizing: border-box;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "HKGroteskRegular";
  background: #eceff5;
}

.container {
  height: 100%;
  padding: 10vh 10%;
  display: flex;
  justify-content: space-between;

  background: url("images/illustration.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.container .content {
  width: 100%;
  margin: 5vh 5%;
}

.container .content .text {
  padding: 10vh 10%;
  width: 58%;
  height: 100%;
  background: #fff;
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  background: url("images/card-back.svg") #fff;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.container .content h1 {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 5rem;
  line-height: 1;
  margin: 0 0 3rem 0;
  color: rgb(33, 53, 82);
}

.container .content .kwoc {
  display: flex;
  font-family: "HanKenGroteskBold";
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  color: rgb(73, 128, 173);
}


.container .content .kwoc img {
  height: 3rem;
  margin: auto;
}

.container .content p {
  padding: 0;
  margin: 1rem 0;
  color: rgb(83, 83, 83);
  font-size: 1.7rem;
}

.button {
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
  padding: 3%;
  color: rgb(73, 128, 173);
}

.stats {
  max-width: 1200px;
  margin: 10rem auto 2rem;
  padding: 0 2rem;
}

.stats h1 {
  font-size: 4rem;
  font-family: "HankenGroteskBold";
  color: rgb(33, 53, 82);
}

.stats .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.stats .cards .card {
  width: calc((1200px - 15%)/3);
  padding: 5% 5% 10%;
  background: url("images/card-stat.svg") #fff;
  background-size: cover;
  border-radius: 2rem;
  box-shadow: 0px 10px 20px rgba(0, 52, 129, 0.2);
}
.stats .cards .card h1{
  margin: 0;
  color: rgb(73, 128, 173);
}
.stats .cards .card h2{
  margin-bottom: 0;
  color: rgb(83, 83, 83);
}

.updates {
  max-width: 600px;
  margin: 10rem auto;
  padding: 0 2rem;
}

.updates h1 {
  color: rgb(33, 53, 82);
  margin: 3rem 0;
}
.updates form {
  background: url("images/card-form.svg") #fff;
  background-size: cover;
  background-position: bottom;
  box-shadow: 0px 30px 50px rgba(0, 52, 129, 0.2);
  padding: 1rem 0 1rem 1rem;
  border-radius: 1rem;
}

.updates input {
  font-size: 1.5rem;
  background: none;
  color: rgb(33, 53, 82);
  border: none;
  padding: 5%;
  transition: 1s all;
}

.updates button {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: normal;
  background: none;
  color: rgb(73, 128, 173);
  border: none;
  padding: 5% 0 5% 5%;
}



.share {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.share h1 {
  font-size: 3rem;
  text-align: center;
  font-family: "HankenGroteskBold";
  color: rgb(33, 53, 82);
}


.share .soc-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.share .soc-btns a {
  text-align: center;
  font-family: "HankenGroteskBold";
  font-size: 1.5rem;
  text-decoration: none;
  padding: 2rem;
  margin: 2rem;
  color: #fff;
  border-radius: 2rem;
}

.share .soc-btns a.fb{
  background: #3b5998;
  transition: 0.3s ease-in-out;
}

.share .soc-btns a.fb:hover {
  box-shadow: 0px 30px 30px rgba(58, 87, 150, 0.5);
}


.share .soc-btns a.twt {
  box-shadow: 0px 30px 50px rgba(56, 161, 243, 0.5);
  background: #38A1F3;
}

footer {
  background: url("card-form.svg");
  background-size: cover;
  background-position: bottom;
  padding: 6rem 0 10rem;
  text-align: center;
  color: #3b5998;
}

footer a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
    padding: 5%;
    background-position: bottom right;
    background-position-y: 50vh;
    background-size: 100vh;
  }
  .container .content .text {
    width: 100%;
    padding: 5vh;
    height: 66%;
  }
  .container .content h1 {
    font-size: 3rem;
    margin-bottom: 0.75rem;
  }

  .container .content .kwoc {
    font-size: 1.75rem;
  }

  .container .content p {
    font-size: 1.2rem;
  }

  .button {
    display: none;
  }

  .stats {
    margin: 4rem 0;
  }

  .stats h1 {
    font-size: 2.5rem;
  }

  .stats .cards .card {
    margin: 2rem 0;
    padding: 4rem 2rem;
  }

  .updates {
    margin: 4rem auto;
  }

  .updates input, .updates button{
    font-size: 1rem;
    width: 100%;
    text-align: left;
  }

  .share {
    margin: 4rem 0;
  }

  .share h1 {
    font-size: 2.5rem;
  }

  .share .soc-btns a {
    margin: 2rem auto;
    font-size: 1.2rem;
  }

  footer {
    padding: 2rem 0;
  }

}

#success-msg {
  text-align: center !important;
  margin-top:190px !important;
  display: none;
  color: rgb(33, 53, 82);
}


.cd-container {
width: 90%;
max-width: 1080px;
margin: 0 auto;
background: #eceff5;
padding: 0 10%;
border-radius: 2px;
}
.cd-container::after {
content: '';
display: table;
clear: both;
}

/* -------------------------------- 

Timeline styling begins!

-------------------------------- */


#cd-timeline {
position: relative;
padding: 2em 0;
margin-top: 2em;
margin-bottom: 2em;
}
#cd-timeline::before {
content: '';
position: absolute;
top: 0;
left: 25px;
height: 100%;
width: 4px;
background: #38A1F3;
}
@media only screen and (min-width: 1170px) {
#cd-timeline {
  margin-top: 3em;
  margin-bottom: 3em;
}
#cd-timeline::before {
  left: 50%;
  margin-left: -2px;
}
}

.cd-timeline-block {
position: relative;
margin: 2em 0;
}
.cd-timeline-block:after {
content: "";
display: table;
clear: both;
}
.cd-timeline-block:first-child {
margin-top: 0;
}
.cd-timeline-block:last-child {
margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
.cd-timeline-block {
  margin: 4em 0;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
}

.cd-timeline-img {
position: absolute;
top: 8px;
left: 12px;
width: 30px;
height: 30px;
border-radius: 50%;
box-shadow: 0 0 0 4px #3b5998, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
background: #eceff5;

}
@media only screen and (min-width: 1170px) {
.cd-timeline-img {
  width: 30px;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: 15px;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
}

.cd-timeline-content {
position: relative;
margin-left: 60px;
margin-right: 30px;
background: #3b5998;
border-radius: 2px;
padding: 1em;
.timeline-content-info {
  background: #2B343A;
  padding: 5px 10px;
  color: rgba(255,255,255,0.7);
  font-size: 12px;
  box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  i {
    margin-right: 5px;
  }
  .timeline-content-info-title, .timeline-content-info-date {  
    width: calc(50% - 2px);
    display: inline-block;
  }
  @media (max-width: 500px) {
    .timeline-content-info-title, .timeline-content-info-date {  
      display: block;
      width:100%;
    } 
  }
}
.content-skills {
  font-size: 12px;
  padding:0;
  margin-bottom: 0;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    background: #40484D;
    border-radius: 2px;
    display: inline-block;
    padding: 2px 10px;
    color: rgba(255,255,255,0.7);
    margin: 3px 2px;
    text-align: center;
    flex-grow: 1;
  }
}
}
.cd-timeline-content:after {
content: "";
display: table;
clear: both;
}
.cd-timeline-content h2 {
color: rgba(255,255,255,.9);
margin-top:0;
margin-bottom: 5px;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
color: rgba(255,255,255,.7);
font-size: 13px;
font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
display: inline-block;
}
.cd-timeline-content p {
margin: 1em 0;
line-height: 1.6;
}

.cd-timeline-content::before {
content: '';
position: absolute;
top: 16px;
right: 100%;
height: 0;
width: 0;
border: 7px solid transparent;
border-right: 7px solid #333C42;
}

@media only screen and (min-width: 768px) {
.cd-timeline-content h2 {
  font-size: 20px;
  font-size: 1.25rem;
}
.cd-timeline-content p {
  font-size: 16px;
  font-size: 1rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 14px;
  font-size: 0.875rem;
}
}
@media only screen and (min-width: 1170px) {
.cd-timeline-content {
  color: white;
  margin-left: 0;
  padding: 1.6em;
  width: 36%;
  margin: 0 5%
}
.cd-timeline-content::before {
  top: 24px;
  left: 100%;
  border-color: transparent;
  border-left-color: #333C42;
}
.cd-timeline-content .cd-date {
  position: absolute;
  width: 100%;
  left: 122%;
  top: 6px;
  font-size: 16px;
  font-size: 1rem;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content {
  float: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
  top: 24px;
  left: auto;
  right: 100%;
  border-color: transparent;
  border-right-color: #333C42;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
  float: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
  left: auto;
  right: 122%;
  text-align: right;
}
}

/* -------------------------------- 

Timeline styling ends!

-------------------------------- */
