// import using ~
// Import only what you need from Bulma
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/generic.sass';
@import '~bulma/sass/base/helpers.sass';
@import '~bulma/sass/grid/columns.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/image.sass';
@import '~bulma/sass/form/_all.sass';
@import '~bulma/sass/components/navbar.sass';
@import '~bulma/sass/layout/hero.sass';
@import '~bulma/sass/layout/section.sass';
@import url('/font-awesome-4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.mentor-dashboard {
  font-weight: bold;
  color: black;

  p,
  h1 {
    padding: 0px;
    margin: 0px;
  }
}

.intro-card {
  display: flex;
  margin-top: 3%;
}

.card-component {
  // Taken from  https://www.cssmatic.com/box-shadow

  border-radius: 6px;

  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.avatar {
  max-width: 30%;
  flex-grow: 1;
  text-align: center;

  // margin: 1%;
  // margin-right: 0.5%;

  padding-top: 3%;
  padding-bottom: 3%;

  box-shadow: 0px;
  background: rgba(0, 0, 0, 0);
  background-color: #d3d2d2;
  // transition: 1s;

  // :hover {
  //   box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.75);
  // }
}

.mentor-stats-content {
  display: flex;
  max-height: 45%;
  flex-grow: 1;
}

.mentor-stats {
  background: rgba(0, 0, 0, 0);
  background-color: #c4c4c4;
  max-width: 70%;

  // margin: 1%;
  // margin-left: 0.5%;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.mstats {
  p {
    padding: 0px;
    margin: 0px;
  }

  flex-grow: 1;
  text-align: center;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1.5%;

  padding: 1.5%;

  font-weight: bold;
  font-size: 2.5vw;
  // box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.75);
}

.mentor-stats-header {
  h1 {
    padding: 0px;
    margin: 0px;
  }

  text-align: center;
  font-size: 1.8vw;
  max-height: 25%;

  flex-grow: 1;

  padding: 1%;

  font-family: 'Kaushan Script', cursive;
}

#mentor-dashboard-p {
  padding: 0px;
}

.avatar-content {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;

  border-color: black;
  background-color: #c4c4c4;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;

  font-size: 20px;
  // box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.75);
  p {
    padding: 0px;
    margin: 0px;
  }
}

#mentor-name {
  font-weight: bold;
}

#avatar-img {
  max-width: 150px;
  max-height: 150px;
  box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.75);

  border-radius: 4px;
}

.badges {
  p,
  h1 {
    padding: 0px;
    margin: 0px;
  }
  flex-grow: 1;
  margin: 1.5%;
  padding: 1%;
  background-color: white;
  box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.75);
}

.projects {
  display: flex;
  flex-direction: column;
  background-color: #bfbcbc;
}

.students {
  display: flex;
  flex-direction: column;

  background-color: #d3d2d2;
}
// seems like projectcard is used in bulma
.projectcard,
.student-card {
  display: flex;
  flex-direction: row;
}

.project-c,
.student-c {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  margin: 2%;
  padding: 1%;
  // margin-left: 0.5%;
  // margin-right: 0.5%;
  background-color: white;

  max-width: 250px;
  max-height: 200px;

  height: 200px;
  width: 400px;

  p,
  h1 {
    padding: 0px;
    margin: 0px;
  }
}

.project-name,
.student-name {
  font-weight: bold;
  font-size: 140%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  height: 100%;
  width: 100%;
}

.anchor-align {
  flex-grow: 1;
  height: 30%;

  border-radius: 12px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.project-header,
.student-header {
  p,
  h1 {
    padding: 0px;
    margin: 0px;
  }

  flex-grow: 1;

  padding: 1%;

  font-family: 'Kaushan Script', cursive;
}

.announcements {
  padding: 1%;

  background-color: #bfbcbc;
}

.anc-card {
  p,
  h1 {
    padding: 0px;
    margin: 0px;
  }

  margin: 1%;
  padding: 1%;
  background-color: white;
}

.git-lines {
  font-family: 'Staatliches', cursive;
}

.add {
  background-color: green;
}

.rem {
  background-color: red;
}

.project-content,
.student-content {
  margin: 1%;
  padding: 2%;

  height: 50%;

  flex-grow: 1;
}

.project-button,
.student-button {
  margin: 1%;
  padding: 1%;
  height: 20%;
  flex-grow: 1;
}
