.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.75) 44.42%,
      #000000 64.48%
    ),
    url(/dashboard-bg.jpeg);
  background-repeat: no-repeat;
  background-size: contain;

  background-color: #000;
  color: #fff;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 0;

    h1 {
      font-size: 4rem;
      margin: 0;
    }

    h2 {
      color: rgba(255, 255, 255, 0.7);
      margin: 0 0 0.5rem 0;
    }

    .stats {
      display: flex;
      flex-direction: row;

      .box {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        margin: 0.5rem;
        padding: 1rem 2.5rem;

        h2 {
          font-size: 4rem;
          margin: 0.5rem 0;
          color: #fff;
        }

        p {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }

    .avatar {
      margin: 0 1rem;
      img {
        border-radius: 10px;
        max-height: 20rem;
      }

      &-content {
        text-align: center;
        color: rgba(255, 255, 255, 0.7);

        h2 {
          margin: 0.5rem 0;
        }
      }
    }
  }

  .subtitle {
    font-size: 2.5rem;
    margin: 2rem 0 1rem 0;
  }

  .language {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2rem;

    margin: 0 1rem 0 0;
  }

  &-table {
    thead {
      th {
        font-size: 1.5rem;
      }
    }

    tbody {
      a {
        margin: 0.5rem;
        color: rgba(255, 255, 255, 0.7);

        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  .resource-table {
    table {
      tbody {
        td {
          margin: 0 1rem 0 0;

          img {
            height: 100px;
            border-radius: 10px;
          }

          a {
            color: rgba(255, 255, 255, 0.7);

            &:hover {
              color: rgba(255, 255, 255, 1);
            }
          }
        }
      }
    }
  }
}
