.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  color: #fff;
  background-color: #362321;
  padding: 2rem 0;

  &-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 1.6rem;
    font-family: "Fredoka One", cursive;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 1.2rem;
  }

  a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 1rem 0 0 0;
    font-size: 1.2rem;

    &:hover {
      color: #b67dfc;
    }
  }

  @include sm {
    flex-direction: column;
    text-align: center;
  }
}
