.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  color: #fff;
  background-image: linear-gradient(135deg, #9545f7 0%, #000000 50%);
  padding: 3rem 0;

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 1rem 0;

    &:hover {
      color: #b67dfc;
    }
  }

  @include md {
    flex-direction: column;
    text-align: center;
  }
}
