.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fafafa;
  padding: 1rem;
  border-top: 1px solid #eaeaea;

  nav {
    display: flex;
    justify-content: space-evenly;

    font-size: 0.875rem;

    .footer-column {
      margin: 0 1rem;
      h3 {
        font-weight: 400;
      }

      ul {
        list-style-type: none;
        padding: 0;
        color: #666;

        a {
          display: block;
          color: inherit;
          text-decoration: none;

          &:hover {
            color: #b67dfc;
          }
        }
      }
    }
  }

  @include sm {
    nav {
      flex-direction: column;
      text-align: center;
    }
  }
}
