button,
.button {
  background-color: $primary-background-black;
  text-decoration: none;
  color: #fff;

  border: 1px solid #111;
  border-radius: 5px;
  margin: 1rem 0.5rem;
  padding: 1rem 1.5rem;

  transition: all 0.2s ease-in-out;

  &.secondary {
    color: #111;
    background-color: #fff;
    border: 1px solid #eaeaea;

    &:hover {
      border: 1px solid #111;
      background-color: #fff;
    }
  }

  &:hover {
    cursor: pointer;
    border: 1px solid #111;
    background-color: transparent;
    color: #111;
  }
}

.input,
input {
  font-family: inherit;
  font-size: inherit;
  outline: none;

  border: 2px solid #111;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1rem;

  &:focus {
    border: 2px solid #0070f3;
  }
}

.multicolor {
  &[color="red"] {
    color: #ff073a;
    background-color: rgba($color: #ff073a, $alpha: 0.1);
  }
  &[color="green"] {
    color: #28a745;
    background-color: rgba($color: #28a745, $alpha: 0.2);
  }
  &[color="blue"] {
    color: #007bff;
    background-color: rgba($color: #007bff, $alpha: 0.15);
  }
  &[color="grey"] {
    color: #6c757d;
    background-color: rgba($color: #6c757d, $alpha: 0.15);
  }
}
