* {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
// @font-face {
//   font-family: "Route159";
//   src: local("Route159"), url(../fonts/Route159-Regular.otf) format("opentype");
// }
// @font-face {
//   font-family: "Vegur";

//   src: local("Vegur"), url(../fonts/Vegur-Regular.otf) format("opentype");
// }
.App {
  .hero {
    h1 {
      font-size: 5rem;
    }
  }
}
