.menu {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  background-color: transparent;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      white-space: nowrap;
      a {
        margin-left: 1rem;
        display: flex;
        text-decoration: none;
        align-items: center;
        position: relative;
        color: #000;

        &::before {
          content: "";
          width: 0;
          height: 2px;

          position: absolute;
          left: 0;
          bottom: 0;
          background-color: #f44336;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
        }

        &:hover::before {
          visibility: visible;
          width: 100%;
        }
      }

      img {
        height: 24px;
        cursor: pointer;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      font-size: rem;
      padding: 0;
      margin-right: 2rem;

      li {
        display: flex;
        align-content: center;
        margin: 0 2rem;
        padding: 0 0.5rem;

        svg {
          width: 20px;
          margin-top: 3px;
        }

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #000;
          position: relative;

          &::before {
            content: "";
            width: 0;
            height: 2px;

            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #f44336;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
          }

          &:hover::before {
            visibility: visible;
            width: 100%;
          }
        }
      }

      .dropdown-title {
        color: #000;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        .dropdown-content {
          display: none;
          color: #fff;
          white-space: nowrap;
          border-radius: 10px;
          white-space: nowrap;
          background: linear-gradient(96.58deg, #ef2a5d 0%, #ee5434 100%);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

          a {
            color: #fff;

            &::before {
              background-color: #67ecfd;
            }
          }
        }

        &:hover {
          .dropdown-content {
            display: block;
            position: absolute;
            top: -3px;
            left: 0;
            z-index: 99;

            margin-top: 2rem;
            li {
              padding: 0 0.75rem;
              margin: 0.75rem 0;
            }
          }
        }
      }
    }
  }

  @include sm {
    display: none;
  }
}

.mobile-navbar {
  .wrapper {
    visibility: hidden;
    overflow: hidden;
    max-height: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    ul {
      display: flex;
      flex-direction: column;

      list-style: none;
      padding: 0;
      margin: 6rem 1rem;

      font-size: 1.5rem;

      li {
        margin: 0.5rem 1rem;
        opacity: 0;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: #fff;
        }

        img {
          width: 40px;
          cursor: pointer;
        }
      }
    }
  }

  .dropdown-title {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    .dropdown-content {
      display: none;
    }
  }

  .down {
    .dropdown-content {
      display: block;
      margin: 0.5rem 0 0 0;

      white-space: nowrap;
    }
  }

  .active {
    visibility: visible;
    max-height: 100%;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.9;

    @include mobile-navbar-items();
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    background: #e5261f;
  }

  .bar {
    display: flex;
    justify-content: space-between;
    width: 98vw;

    .logo {
      margin-left: 1rem;
      margin-top: 0.5rem;
      display: none;
      a {
        display: flex;
        text-decoration: none;
        color: #000;
      }

      img {
        height: 40px;
        cursor: pointer;
      }

      @include sm {
        display: inline-block;
      }
    }
  }

  @include mobile-navbar-icon();

  .mobile-navbar-icon {
    display: none;
    left: 20px;
    top: 25px;
    width: 30px;
    height: 50px;

    text-align: center;
    cursor: pointer;

    span {
      position: absolute;
      width: 36px;
      height: 3px;
      background-color: #e5261f;
    }

    @include sm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .out {
    span {
      position: absolute;
      z-index: 99;
      background-color: #fff;
    }
  }
}
