.testimonial {
  .hero-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin: 1rem;
    text-align: center;

    .title {
      color: #000;
      margin: 0;
      font-size: 4rem;
    }
    .subtitle {
      color: #666;
    }
  }

  &-list {
    padding: 5rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    overflow-x: hidden;

    @include sm {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }

  &-box {
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba($color: #1a1a1a, $alpha: 0.1);
    border: 1px solid #eaeaea;

    img {
      width: 128px;
      border-radius: 50%;
      margin: 0 1.5rem;
    }

    a {
      width: fit-content;
      display: block;
      text-decoration: none;
      color: #eee;
      background-color: #396eb0;
      padding: 0.5rem 1.2rem;
      margin-top: 1rem;
      border-radius: 5px;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;

    &-column {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .testimonial-name {
      font-size: 1.3rem;
      font-weight: 700;
      color: #396eb0;
    }

    .testimonial-biotext {
      font-size: 1rem;
      color: #666;
    }
  }

  &-desc {
    padding: 1.5rem 1rem;
    color: #333;
  }
}
