@import "index.scss";

.about {
	.container {
		h1 {
			font-size: 40px;
			align-items: center;
		}
		display: grid;
		place-items: center;
		p {
			font-size: 17px;
		}
	}
}

.tags {
	.container {
		h1 {
			font-size: 40px;
			align-items: center;
		}
		max-height: 100vh;
		margin-bottom: 20px;
	}
}
