html,
body {
  background-color: #071b44;
  margin: 0;
  padding: 0;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
}
