.faqBox {
    background-color: white;
    color: black;
    text-align: center;
    width: 70vw;
    margin: 12px auto;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: all 0.6s ease;
    cursor: pointer;
    align-content: center;
    
}

.faqSearch {
    height: 7vh;
    background-color: transparent;
    color: white;
    text-align: left;
    padding-left: 20px;
    width: 70vw;
    border: solid 1px;
    border-radius: 10px;
    margin-bottom: 3vh;
    margin-top: 3vh;
}


.faqQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}


.faqQuestion h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 400;
  color: #333;
  flex: 1; 
  word-break: break-word;
}


.faqToggle {
  font-size: 1.4rem;
  font-weight: bold;
  color: #555;
  flex-shrink: 0; 
}

.faqAnswer {
  margin-top: 10px;
  padding-top: 8px;
  border-top: 1px solid #e0e0e0;
  animation: fadeIn 0.3s ease;
  color: #444;
  line-height: 1.6;
}

.faqPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 15vh;
}

.faqHeading {
    font-size:60px;
    margin-bottom: 3px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (max-width:1200px) {
    .faqHeading {
        font-size: 50px;
    }
    
}

@media (max-width:800px) {
    .faqHeading {
        font-size: 40px;
    }
    
}

@media (max-width:500px) {
    .faqHeading {
        font-size: 25px;
        margin-bottom: 3px;
    }
    
}

@media (max-width:400) {
    .faqHeading {
        font-size: 20px;
        margin-bottom: 3px;
    }
    
}


