:root {
  --font-main: "Inter", sans-serif;
  --font-accent: "Hi Melody", cursive;
}

body {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
}

.App {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

.hl {
  color: #63b6e4;
}

.bold {
  font-weight: 700;
}

.error-message {
  background-color: #330000;
  border: 1px solid #ff4d4d;
  padding: 5px 20px;
  border-radius: 5px;
  color: #ff4d4d;
}