.mentor-dash {
  width: 70vw;
  margin: 0 auto;

  & .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.add-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.5rem;
}

.add-project-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem; /* Vertical and horizontal padding */
  font-size: 1rem; /* Font size for text */
  height: 2.5rem; /* Match the height of the PROJECTS title */
  background-color: #4338ca;
  color: #fff;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
  margin-left: 1rem; /* Space between the title and the button */
}

@media (max-width: 768px) {
  .mentor-dash {
    width: 90vw;
  }
}
