.mentor-project-card {
  padding: 24px 18px;

  background: rgba(15, 23, 42, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(71, 85, 105, 0.4);
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

  & .top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    & h3 {
      margin: 0;
      font-size: 28px;
      color: var(--color-primary);
    }

    & .status-badge {
      margin-left: auto;
      padding: 4px 10px;
      border-radius: 12px;
      font-size: 12px;
      font-weight: 600;
      background: rgba(245, 158, 11, 0.15);
      color: rgb(252, 211, 77);
      border: 1px solid rgba(251, 191, 36, 0.4);

      &.approved {
        background: rgba(16, 185, 129, 0.15);
        color: rgb(110, 231, 183);
        border: 1px solid rgba(52, 211, 153, 0.4);
      }
    }
  }

  & .tags {
    margin-bottom: 12px;

    & .tag {
      display: inline-block;
      background: rgba(100, 116, 139, 0.2);
      padding: 4px 10px;
      border-radius: 8px;
      font-size: 12px;
      margin-right: 8px;
      border: 1px solid rgba(100, 116, 139, 0.2);
    }
  }

  & .description {
    font-size: 14px;
    margin: 0;
    color: rgb(148, 163, 184);
    margin-bottom: 12px;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  & .mentors {
    font-size: 13px;
    color: rgb(125, 126, 127);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & .mentor {
      display: flex;
      align-items: end;
      gap: 8px;

      & .name {
        color: var(--color-primary);
        text-decoration: none;
      }
    }
  }

  & .stats {
    display: flex;
    gap: 15px;

    & .stat {
      background: rgba(71, 85, 105, 0.2);
      flex: 1;
      padding: 8px 10px;
      border-radius: 8px;
      border: 1px solid rgba(71, 85, 105, 0.4);
      margin: 0;
      display: flex;
      align-items: center;
      gap: 10px;

      & .stat-label {
        font-size: 12px;
        color: rgb(148, 163, 184);
        margin: 0;
      }

      & .icon {
        color: rgb(148, 163, 184);
      }

      & .stat-label::after {
        content: ":";
      }

      & .stat-value {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
      }
    }
  }

  & .actions {
    margin-top: 15px;
    display: flex;
    gap: 10px;

    .edit-button,
    .open-button {
      flex: 1 1 0;
      min-width: 0;
      display: block;

      & button {
        width: 100%;
      }
    }
  }
}
