@import 'index.scss';

button {
  background: $primary-background-grey;
  border: none;
}

#navbar-container {
  background: $primary-background-black;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  .navbar-burger {
    background: $primary-background-black;
  }
}

#kwoc-logo,
#about-button,
#project-button,
#faq-button,
#tline-button,
#testimonial-button {
  color: $secondary-text-light-grey;
}

#functional-buttons,
#darkmode {
  background: $primary-background-grey;
  // color: white;
  margin: 1rem;
  // margin-left: 2rem;
  // align-content: center;
  border-radius: 5px;
}

#darkmode {
  // padding: 1rem;
  background: $blue-for-darkmode;
  margin-right: 2px;
}

// .flexbox {
//   background: black;
// }

#login-buttons,
#stat-buttons {
  padding: 1rem;
  margin-right: 2rem;
  // align-content: center;
  right: 0;

  background: $primary-background-grey;
  margin: 1rem;
  // margin-left: 2rem;
  // align-content: center;
  border-radius: 5px;

  .navbar-link {
    color: $secondary-text-light-grey;
  }

  .navbar-dropdown {
    background-color: $secondary-background-grey;
    border: $secondary-background-grey;

    .navbar-item {
      color: $secondary-text-light-grey;
      border: $secondary-background-grey;

      a {
        text-decoration: none;
      }

      a:hover {
        color: $secondary-text-light-grey;
      }
    }
  }
}
