.Panel{
    text-align: center;
    width: 15vw;
    height: 17vw;
    border-radius: 5%;
    border: 2px solid black;
    background-color: rgb(56, 56, 56);
    color: white;
}

.Panel img{
    width: 10vw;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
}