/* Container styling for Profile component */
.profileContainer {
    position: sticky;
    margin-top: 1rem;
    overflow: auto;
    padding: 1rem 2rem;
    width: 16vw;
    text-align: center; /* Center everything inside the container */
  }
  
  /* Profile picture styling */
  .profilePicture {
    width: 80px; /* Adjust width as needed */
    height: 80px; /* Adjust height as needed */
    display: block;
    margin: 0 auto; /* Center horizontally */
    border-radius: 50%;
  }
  
  /* Profile name text styling */
  .profileName {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin: 0.75rem 0;
  }
  
  .profileUsername {
    font-weight: 500;
    font-size: 1.125rem;
    color: #9ca3af; /* Equivalent of text-gray-400 */
  }
  
  /* Link and button styling */
  .buttonContainer {
    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
    gap: 0.75rem;
  }
  
  /* Edit Button Styling */
  .editButton {
    text-align: center;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: max-content;
    padding: 0.5rem 1rem; /* Adjust padding for better button sizing */
    color: #e0e7ff; /* Equivalent of text-indigo-100 */
    border-radius: 0.5rem;
    transition: background-color 0.15s;
    background-color: #4338ca; /* Equivalent of bg-primary-700 */
  }
  
  .editButton:hover {
    background-color: #3730a3; /* Equivalent of hover:bg-primary-800 */
  }
  
  /* Sign Out Button Styling */
  .signOutButton {
    text-align: center;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: max-content;
    padding: 0.5rem 1rem; /* Adjust padding for better button sizing */
    color: #e0e7ff; /* Equivalent of text-indigo-100 */
    border-radius: 0.5rem;
    transition: background-color 0.15s;
    background-color: #b91c1c; /* Equivalent of bg-red-800 */
  }
  
  .signOutButton:hover {
    background-color: #991b1b; /* Equivalent of hover:bg-red-800 */
  }
  