@import 'index.scss';

#projects { 
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(https://raw.githubusercontent.com/kossiitkgp/kwoc-2017/master/static/images/intro-background.jpg);
    background-size: cover;
}
.project-card{
    max-width: 412px;
}

.input{
    margin-top: 32px;
    margin-bottom: 32px;
}

.footer-btn{
    margin: 20px;
}

.tags{
    text-align: center;
}