.projects-page {
  width: 70vw;
  margin: 0 auto;

  & h1 {
    text-align: center;
    font-size: 54px;
    margin: 40px 0;
    /* color: var(--color-primary); */
  }

  .stay-tuned {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    color: var(--color-secondary);
  }
}
