@import 'index.scss';

#projects {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://raw.githubusercontent.com/kossiitkgp/kwoc-2017/master/static/images/intro-background.jpg);
  background-size: cover;
  height: 45vh;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  .card-content {
    flex: auto;
    .button {
      margin-top: 0;
    }
    p {
      margin-top: auto;
    }
  }
}

.card-header {
  background-color: #000;
}

.input {
  margin-top: 32px;
  margin-bottom: 32px;
}

.card-footer {
  .footer-btn {
    margin: 20px;

    background-color: #b57aff !important;
  }
}

#projectTags {
  background-color: white;
  text-align: center;
}
