.projects-page {
  width: 70vw;
  margin: 0 auto;

  & h1 {
    text-align: center;
    font-size: 54px;
    margin: 40px 0;
    /* color: var(--color-primary); */
  }

  .stay-tuned {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    color: var(--color-secondary);
  }

  .projects-list {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: calc(3 * 350px + 2 * 20px);
    gap: 20px;
  }

  .project-item {
    padding: 24px;
    border-radius: 12px;
    background-color: rgba(15, 23, 42, 0.7);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & h2 {
      font-size: 24px;
      margin: 0;
      color: var(--color-primary);
    }

    & .description {
      font-size: 18px;
      margin: 0;
      flex: 1;
    }

    & .mentors {
      font-size: 15px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;

      & .mentor {
        display: flex;
        align-items: center;
        gap: 8px;

        & .name {
          color: var(--color-primary);
          text-decoration: none;
        }
      }
    }

    & .tags {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 4px;

      & .tag {
        display: inline-block;
        background: rgba(100, 116, 139, 0.2);
        padding: 4px 10px;
        border-radius: 8px;
        font-size: 12px;
        margin-right: 8px;
        border: 1px solid rgba(100, 116, 139, 0.2);
      }
    }

    & .actions {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      & > a {
        width: 100%;

        & button {
          width: 100%;
        }
      }
    }
  }
}



.search-bar-container {
    display: flex;
    justify-content: center; 
    margin: 20px 0 30px;
}

.project-search-input {
    width: 100%; 
    max-width: 600px; 
    padding: 12px 18px;
    border: 2px solid;
    border-radius: 8px; 
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.project-search-input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); 
    outline: none;
}

@media (max-width: 768px) {
  .projects-page {
    width: 90vw;
  }
}
