.project-form-container {
  padding-top: 1rem;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .project-form-container {
    width: 60%;
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .project-form-container {
    width: 50%;
  }
}
