.student-dash {
  width: 70vw;
  margin: 0 auto;

  & .stats {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;

    & .stat-card {
      background-color: #1a1a1a;
      padding: 20px;
      border-radius: 10px;
      width: 23%;

      & h3 {
        margin: 0 0 10px 0;
        font-size: 20px;
        color: var(--color-primary);
      }

      & p {
        font-size: 24px;
        margin: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .student-dash {
    width: 90vw;
  }
}
