.why-kwoc-container {
  background-color: #071b44;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem;
}

.why-title {
  color: #ffe336;
  font-size: 5rem;
  font-weight: 900;
  margin: 0;
}

.why-tagline {
  font-size: 1.5rem;
  font-weight: bold;
}

.why-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card-container {
  width: 15rem;
  padding: 4rem 2rem;
  border-radius: 0.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  box-shadow: 1px 2px 4px 0 #000;
  background-color: rgba(128, 128, 128, 0.4);
  backdrop-filter: blur(0.2rem);
  transition: scale 0.2s, backdrop-filter 0.2s;
}

.card-container:hover {
  scale: 1.02;
  backdrop-filter: blur(0.5rem);
}

.card-title {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: bolder;
}

.card-description {
  margin: 0;
  padding: 0;
}
