.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;

  & .quote {
    font-family: var(--font-accent);
    font-size: 32px;
  }

  & .title {
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 40px;

    & .highlight {
      color: #63b6e4;
    }
  }

  & .actions {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .hero {
    & .title {
      font-size: 36px;
    }

    & .quote {
      font-size: 24px;
    }

    & .actions {
      flex-direction: column;
      gap: 10px;
    }
  }
}
