// import using ~
// Import only what you need from Bulma
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/generic.sass';
@import '~bulma/sass/base/helpers.sass';
@import '~bulma/sass/grid/columns.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/image.sass';
@import '~bulma/sass/form/_all.sass';
@import '~bulma/sass/components/navbar.sass';
@import '~bulma/sass/layout/hero.sass';
@import '~bulma/sass/layout/section.sass';

// FONT SIZES

$head-1: 3.052rem;
$head-2: 2.441rem;
$head-3: 1.953rem;
$head-4: 1.563rem;
$head-5: 1.25rem;

$border: 12px;
$border-small: 6px;

* {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: #fff;
  border: none;
}

@keyframes dropdown_animate {
  0% {
    transform-origin: top;
    opacity: 0;
    transform: perspective(1000px) rotateX(-45deg) translateY(-10px)
      translateZ(0px);
    // transition: transform 500ms ease, opacity 500ms ease;
  }
  100% {
    opacity: 1;
    transform: perspective(1000px) rotateX(0deg) translateY(0px) translateZ(0px);
  }
}

@keyframes menu_animate {
  0% {
    transform-origin: top;
    opacity: 0;
    transform: translateX(60vw);
    transition: transform 500ms ease, opacity 500ms ease;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.navbar {
  background: #fff;
  box-shadow: 0px 10px 40px rgba(#3d4e5c, 0.15);
  transition: 0.75s all;
  font-family: sans-serif;

  &.is-black {
    background: #000000b3;
    &.large {
      background: none;
    }
  }

  @media screen and (min-width: $desktop) {
    &.large {
      min-height: 6rem;
      box-shadow: none;
      @media screen and (min-width: $widescreen) {
        font-size: 1.1rem;
      }

      .navbar-item img {
        max-height: 4rem;
      }

      .logo-text {
        font-size: 2.5rem;
        margin: 0 1.5rem;
      }
    }
  }

  @media screen and (max-width: $desktop) {
    min-height: 4rem !important;
    .navbar-brand {
      min-height: 4rem !important;
    }
    .navbar-menu {
    }
    .navbar-burger {
      width: 4rem;
      height: 4rem;
    }
    font-size: 20px;
    .navbar-link {
      margin: 1rem 0 -0.5rem;
      font-family: sans-serif;
      // color: #333333;
    }

    .button {
      margin: 2rem 1rem 0rem;
      font-size: 1.5rem;
    }

    .navbar-end {
      padding-bottom: 2rem;
    }
  }

  a {
    font-weight: normal;
  }

  .button {
    transition: 0.5s all;
    &.signup {
      color: $primary;
      &:hover {
        background-color: $primary;
      }
    }
    &.is-outlined {
      border: none;
    }
    &.is-white:active,
    &.is-white.is-active {
      color: $white;
    }
  }
  @media screen and (min-width: $desktop) {
    .has-dropdown {
      .navbar-dropdown {
        box-shadow: 0px 10px 40px rgba(#333333, 0.15);
        display: none;
      }
      &.is-active .navbar-dropdown {
        animation-name: dropdown_animate;
        animation-duration: 500ms;
      }
    }
  }

  .navbar-link.is-notLink {
    cursor: default;
  }
  .navbar-dropdown {
    font-size: 18px;
    border-color: #ececef;
    min-width: 200px;
    .navbar-item {
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      padding: 0.75rem 1.5rem;
      padding-right: 3rem;
      transition: 0.15s all ease-in-out;
      &:hover,
      &:focus {
        color: $primary;
        background-color: #333333;
        border-top: 1px solid #555555;
        border-bottom: 1px solid #555555;
      }
      img {
        display: inline-block;
        padding-right: 0.5rem;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .navbar-link:hover,
  .navbar-link.is-active {
    background-color: #111111 !important;
  }

  .logo-text {
    transition: 0.5s all;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0 1rem;
  }

  .navbar-item img {
    transition: 0.5s all;
    max-height: 2rem;
  }

  .select:not(.is-multiple):not(.is-loading)::after,
  .navbar-link:not(.is-arrowless)::after {
    border: 2px solid;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    margin-top: -0.345rem;
    height: 0.4rem;
    width: 0.4rem;
  }

  .navbar-burger {
    border: none;
    background: $white;
  }

  strong {
    font-family: sans-serif;
    font-weight: normal;
  }

  .navbar-menu.is-active {
    display: block;
    animation-name: menu_animate;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.App {
  .hero {
    h1 {
      font-size: 5rem;
    }
  }
}

.dashboard {
  background: url('/images/code.jpg') #000;
  background-size: fill;
  background-repeat: no-repeat;
  color: #ffffff;
  .intro {
    padding: 10rem 0 0;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 5rem;
    }
    h2 {
      color: #ffffffb3;
    }

    .data-panel {
      h1 {
        margin: 0 0 1rem 0;
      }
      .data-cards {
        display: flex;
        .data-card {
          padding: 12px 30px 26px;
          margin-right: 5rem;
          background: linear-gradient(
            -45deg,
            rgba(#ffffff, 0.09),
            rgba(#ffffff, 0.05)
          );
          border-radius: $border;
          text-align: center;
          h1,
          h2 {
            margin: 0;
          }
          h1 {
            margin-bottom: -1rem;
          }
        }
      }
    }

    .profile-panel {
      align-self: center;
      font-size: 1.4rem;
      margin-top: 1rem;
      width: 20%;
      text-align: center;
      img {
        border-radius: $border-small;
        margin-bottom: 1rem;
      }
      p {
        margin: 0rem;
      }
    }
  }

  section {
    margin: 5rem auto;
  }

  .commits {
    table {
      border-collapse: collapse;
      font-size: 20px;
      width: 100%;
      th {
        color: #ffffffb3;
        border: none;
      }
      td {
        border: none;
        color: #ffffffb3;
      }
      td:nth-child(3) {
        color: #fff;
      }
      tr:hover {
        background: rgba(#ffffff, 0.1);
        td {
          border: none;
          color: #ffffff;
        }
      }
    }
  }

  .projects,
  .share-links {
    .links {
      font-size: 20px;
      a {
        color: #ffffffb3;
        padding: 0;
        margin-right: 2rem;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
