@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  color: #c1c1c1;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  scrollbar-width: 5px;
  scrollbar-color: #008aff #0000;
  background-color: transparent;
}

body {
  background: url("./assets/stars.png"), #0a0a19;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
  background: none;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #008aff, #00ffe7);
  border-radius: 10px;

}